<p id="notice"><%= notice %></p>
<h1><%= @user.avatar_name %> Challenges <%= @game.player_id_2 == 0 ? "Computer" : @game.player2.avatar_name %></h1>

<h3><%= link_to "Default Ship Placement", game_default_path(@game, 5) %></h3>
<h3><%= link_to "Clear Defending Board", clear_board_path(@game) %></h3>
<h3><%= link_to "Add Ship", add_ship_path(@game, :ship => 1, :ship => 'carrier', :direction => 0, :row => 5, :col => 5) %></h3>

<h2>Your Attacking Board</h2>
<%= display_board(@game.attack_board_id_1) %>

<h2>Your Defending Board</h2>
<%= display_board(@game.defend_board_id_1) %>

<h2>Computers Attacking Board</h2>
<%= display_board(@game.attack_board_id_2) %>

<h2>Computers Defending Board</h2>
<%= display_board(@game.defend_board_id_2) %>

<%= link_to 'Back', root_path %>
