<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta http-equiv="Content-Language" content="en_US" />
  
  <title>BattleGameServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %> &nbsp;
    <%= link_to "New Game", challenge_computer_path(:format => :html) %> &nbsp;
    <%= link_to "Preferences", edit_user_registration_path %> &nbsp;
  <% else %>
    <%= link_to "Login", new_user_session_path %> &nbsp;
  <% end %>
  <%= link_to "Register", new_user_registration_path %> &nbsp;
  <%= link_to "Home", root_path %> &nbsp;
  
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
